//-
	Index.pug

	This is the home page for this project. It is configured to auto-connect
	to the server's websocket and handle any events fired from the server end.
//-

extends base

//- The visual portion of the page
block content
	div(class='panel panel-default')
		div.panel-body
			h1 MQTT Tracfhgfjvjhgjker
			p Simple Website for tracking population 'heat maps' using MQTT
			p #{area}
			p #{title}

			// Implement the graphics portion in the canvas supplied below
			div.well
				canvas(id='grid')
	
	div(class='panel')
		div.panel-body
			button(class='btn btn-primary', type='button', data-toggle='collapse', data-target='#debugLog', aria-expanded='false', aria-controls='debugLog') Show Debug Log
			div(id='debugLog', class='collapse')
				div(id='debugLogList', class='well')
	
	div(id='test', class='w')

//- The scripts needed by this page
block scripts
	script(type='text/javascript').
		$(() => {
			var socket = io();

			// Handle socket events here
			//--------------------------
			socket.on('beacon', data =>{
				console.log("data: "+data.area);//beacon's id
				$('#test').append('<div>'+ sdsd +'</div>');
			});
			
			
			// Adds to the debug list
			socket.on('debug', data => {
				var time = new Date();
				$('#debugLogList').append('<div>' + time + ': ' + data.type + ' | ' + data.msg + '</div>');
			});
			//--------------------------
		});
	
	script(type='text/javascript').
		$(() => {
			// Handle any canvas code here
			//----------------------------
			var canv = $('#grid');
			//----------------------------
		});